body {
  /* background-color: #293e6a; */
  background-color: #fff;
  /* background-color: #202532; */
  margin: 0px;
  padding: 0px;

  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

#algorithm-title {
  width: 178px;
}
